.pass-graybar {
  height: 3px;
  background-color: #CCC;
  width: 100%;
  position: relative;
}

.pass-colorbar {
  height: 3px;
  background-image: url(passwordstrength.jpg);
  position: absolute;
  top: 0;
  left: 0;
}

.pass-percent, .pass-text {
  font-size: 1em;
}

.pass-percent {
  margin-right: 5px;
}
/* better progress bar styles for the bootstrap demo */
      .pass-strength-visible input.form-control,
      input.form-control:focus {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .pass-strength-visible .pass-graybar,
      .pass-strength-visible .pass-colorbar,
      .form-control:focus + .pass-wrapper .pass-graybar,
      .form-control:focus + .pass-wrapper .pass-colorbar {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }