@charset "utf-8";
/* CSS Document */
body{
	font-size:15px;
	color:#757575;
	margin:0 auto;
	background-color:#fff;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	overflow-x:hidden;
}

/*-------coming-soon-----*/
.coming-soon{
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	position:relative;
	padding:30px 0;
}
.coming-soon-m {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 70px 20px;
	text-align: center;
	margin: 0 auto;
}
.coming-logo{
	text-align:center;
	margin:0 auto;
}
.container {
	width: 1330px;
margin:0 auto;
}
.coming-content {
	width: 51%;
	margin: 0 auto;
	text-align: center;
}
.coming-content h1 {
	color: #077fc8;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 52px;
	font-size: 34px;
	margin-bottom: 20px;
}
.coming-content h1 span{
	color:#ff6a49;
}
.coming-content p {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 40px;
}
.coming-content input {
	background-color: transparent;
	border: 1px solid #077fc8;
	color: #fff;
	padding: 8px 20px;
	width: 100%;
	margin-bottom: 20px;
}
.coming-content button {
	background-color: #077fc8;
	padding: 10px 20px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	border-radius: 20px;
	transition: 0.3s all ease-out;
	border: 1px solid #077fc8;
}
.coming-content button:hover {
	background-color: transparent;
	border-radius: 0;
	color: #ff6a49;
	border-color: #ff6a49;
}


/*-------index------*/
.header-top {
	padding: 10px 0 4px;
	background-color: rgba(0, 0, 0, 0.8);
	position:relative;
	z-index: 1;
	width: 100%;
}
.header-m ul{
	padding:0;
	margin:0 auto;
}
.logo {
	text-align: center;
	margin: 0px auto;
}
.logo h3{
	color:#fff;
	font-size:30px;
	font-weight:700;
	text-align:center;
	margin:0 auto;
}
.logo h3 a{
	text-decoration:none;
}
.header-m form select{
	border:2px solid #ddd;
	width:100%;
	color:#fff;
	font-size:16px;
	font-weight:400;
	text-align:left;
	appearcance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	transition:0.3s all ease-out;
	padding: 6px 20px 6px 50px;
	color:#757575;
}
.header-m form label{
	display:block;
	position:relative;
}
.header-m form select:hover{
	border-color:#6ec9ff;
}
.header-m form button {
	position: absolute;
	left: 5px;
	top: 10px;
	background-color: transparent;
	color: #077fc8;
	border: none;
	font-weight: 400;
}
.header-m form label::after {
	content: "\f107";
	color: #077fc8;
	font-size: 16px;
	position: absolute;
	top: 9px;
	left: 29px;
	font-family: fontawesome;
}
.header-m ul{
	padding:0;
}
.header-m ul li{
	list-style:none;
	display:inline-block;
	
}
.header-m ul li a {
	font-size: 17px;
	font-weight: 500;
	color: #fff;
	margin: 0 auto;
	transition: 0.3s all ease-out;
	text-decoration: none;
	padding: 8px 20px;
	display: inline-block;
}
.header-m ul li a:hover{
	color:#ff6a49;
}
.header-m .dropdown-menu {
	border:none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	min-width:308px;
	background-color:#ff6a49;
	padding:10px 0;
}
.header-m .dropdown-menu::after {
	position: absolute;
	content: "";
	top: -10px;
	left: 20px;
	border-bottom: 10px solid #ff6a49;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
}
.header-m ul li .dropdown-menu a{
	padding:10px 15px;
	text-align:left;
	font-size:16px;
	font-weight:400;
	text-align:left;
	display:block;
	border-bottom:1px dashed #fff;
	position:relative;
	color:#fff;
}
.header-m ul li .dropdown-menu a:hover{
	background-color:#077fc8;
	color:#fff;
	
}
.header-m ul li .dropdown-menu li{
	display:block;
}
.header-right ul{
	text-align:right;
	display:inline-block;
}
.header-right{
	text-align:right;
}
.header-right ul li{
	list-style:none;
	display:inline-block;
}
.header-right ul li a{
	font-size: 17px;
	font-weight: 500;
	color: #fff;
	margin: 0 auto;
	transition: 0.3s all ease-out;
	text-decoration: none;
	padding: 8px 20px;
	display: inline-block;
}
.header-right ul li a:hover{
	color:#ff6a49;
}
.header-right ul li a i.fa{
	margin-right:5px;
}
.become-freelancer a{
	display:inline-block;
	padding:8px 20px;
	background-color:#077fc8;
	font-size:15px;
	color:#fff;
	font-weight:600;
	text-transform:capitalize;
	text-decoration:none;
	margin-left:auto;
	transition:0.3s all ease-out;
}
.become-freelancer a:hover{
	background-color:#ff6a49;
	color:#fff;
}
.become-freelancer{
	display:inline-block;
}
.header-right.header-m form {
	margin-left: 100px;
}
.banner-m {
	position: relative;
	background-size: cover;
	background-position: center;
	padding: 110px 0;
}
.banner-content{
	position:relative;
	z-index:1;
}
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;  }

.slick-list {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: #fff url("./ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.banner-slider .slick-dots {
	padding: 0;
	margin: 30px auto;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
}
.banner-slider .slick-dots li{
	list-style:none;
	display:inline-block;
	text-align:center;
	margin:0px auto;
}
.banner-slider .slick-dots li button{
	background-color:#000;
	border:none;
	font-size:0;
	border-radius:100%;
	height:15px;
	width:15px;
	margin-right:8px;
display:none;
}
.banner-slider .slick-dots li.slick-active button{
	background-color:#077fc8;
}
.banner-content h1 {
	color: #f4ce0b;
	font-size: 46px;
	font-weight: 600;
	text-transform: uppercase;
	width: 44%;
	font-style: italic;
	margin-bottom: 20px;
	text-shadow: 0 3px 3px #757575;
}
.banner-content p {
	color: #000;
	font-size: 32px;
	font-weight: 500;
	font-style: italic;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.banner-content a{
	display:inline-block;
	padding:10px 30px;
	background-color:#ff6a49;
	font-size:17px;
	color:#fff;
	font-weight:600;
	text-transform:capitalize;
	text-decoration:none;
	transition:0.3s all ease-out;
}
/*------work-with-------*/
#work-someone{
	padding:50px 0 60px;
	background-color:#fff;
}
.heading{
	margin-bottom:50px;
	text-align:center;
	position:relative;
	z-index:1;
}
.text-color3{
	color:#fff;
}
.heading h2 {
	font-size: 34px;
	text-transform: capitalize;
	font-weight: 700;
	text-align: center;
	margin-top: 0;
}
.text-color1{
	color:#ff6a49;
}
#work-someone ul{
	padding:0;
	margin:0 auto;
	text-align:center
}
#work-someone ul li {
	list-style: none;
	display: inline-block;
	width: 24%;
	text-align: center;
	padding: 20px;
	position: relative;
	position: relative;
	border: 1px solid #ddd;
	transition: 0.3s all ease-out;
	margin-left: -4px;
}
#work-someone ul li:hover{
	border-color:#6ec9ff;
}
#work-someone ul li p{
	font-size:16px;
	color:#333;
	font-weight:400;
	text-align:center;
	position:relative;
	padding-top:12px;
	text-transform:uppercase;
}
#work-someone ul li img {
	max-width: 100%;
	width: 100px;
	height: 100px;
}
#work-someone ul li:hover .work-with{
	display:block;
}
.work-with {
	background-color: #077fc8;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
	padding: 29px 20px;
	display: none;
	overflow: hidden;
}
.work-with span {
	display: block;
	text-align: center;
	font-size: 16px;
	color: #fff;
	margin-bottom: 5px;
}
.work-with a{
	display: block;
	text-align: center;
	font-size: 17px;
	color: #fff;
	margin-bottom: 5px;
	font-style:italic;
	margin-top:20px;
	text-decoration:none;
}
.categories-btn a{
	background-color:#077fc8;
	padding:10px 20px;
	color:#fff;
	font-size:17px;
	font-weight:500;
	border-radius:20px;
	transition:0.3s all ease-out;
	border:1px solid #6ec9ff;
	text-decoration:none;
	display:inline-block;
	margin-top:40px;
}
.categories-btn a:hover {
	background-color: transparent;
	border-radius: 0;
	color: #ff6a49;
	border-color: #ff6a49;
}
.categories-btn {
	text-align:center;
	margin:0 auto;
}
.text-color2{
	color:#077fc8;
}
/*----how-work-----*/
#how-work{
	background-color:#f1f1f1;
	padding:50px 0 60px;
}
.work-detail{
	background-color:#fff;
	padding:30px 20px;
}
.work-img{
	text-align:center;
	margin:0 auto;
}
.work-img img{
	width:35%;
	max-width:100%;
}
.work-content{
	margin-top:20px;
}
.work-content h5{
	font-size:22px;
	text-transform:uppercase;
	font-weight:500;
	text-align:left;
}
.work-content p{
	font-size:16px;
	color:#333;
	font-weight:400;
	text-align:justify;
}


/*---success----*/
#success-stories{
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	position:relative;
	padding:50px 0;
}
#success-stories::after{
	background-color:rgba(0, 0, 0, 0.5);
	position:absolute;
	content:"";
	top:0;
	left:0;
	height:100%;
	width:100%;
}
.success-slider{
	position:relative;
	z-index:1;
}
.success-img{
	height:100px;
	width:100px;
	border-radius:100%;
	margin-bottom:15px;
	text-align:left;
	overflow:hidden;
	display:block;
}
.success-img img{
max-width:100%;
height:100px;
width:100%;
}
.success-m iframe{
	height:300px;
	width:100%;
}
.success-content{
	color:#fff;
}
.success-m{
	padding:20px 20px 20px 30px;;
}
.success-content h4 {
	font-size: 26px;
	text-transform: uppercase;
	line-height: 33px;
	color: #ff6a49;
	width:90%;
	margin-bottom:20px;
}
.success-content span {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	display:block;
	margin-bottom:10px;
	font-weight:600;
}
.success-content a{
	background-color:#077fc8;
	padding:10px 20px;
	color:#fff;
	font-size:17px;
	font-weight:500;
	border-radius:20px;
	transition:0.3s all ease-out;
	border:1px solid #077fc8;
	text-decoration:none;
	display:inline-block;
	margin-top:20px;
}
.success-content a:hover {
	background-color: transparent;
	border-radius: 0;
	color: #ff6a49;
	border-color: #ff6a49;
}


/*----skill-----*/
#browse-skill{
	background-color:#fff;
	padding:50px 0 60px;
}
.skill-m ul li{
	position:relative;
	list-style:none;
	display:block;
}
.skill-m ul li a{
	color:#333;
	font-size:16px;
	text-transform:capitalize;
	text-decoration:none;
	transition:0.3s all ease-out;
	margin-bottom:8px;
	display:inline-block;
}
.skill-m ul li a::after {
	position: absolute;
	content: "\f101";
	top: -1px;
	left: -18px;
	font-family: fontawesome;
	font-size: 16px;
}
.skill-m ul li:hover a {
	color: #077fc8;
}

/*----get-start-----*/
#get-sttart-btn a {
	background-color: #ff6a49;
	padding: 10px 30px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	border-radius: 20px;
	transition: 0.3s all ease-out;
	border: 2px solid #ff6a49;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
}
#get-sttart-btn {
	padding: 60px 0;
	text-align: center;
	margin: 0 auto;
	background-color: #077fc8;
}
#get-sttart-btn h2{
	color:#fff;
	font-size:36px;
	font-weight:600;
}
/*-----service-level-----*/
#service-level{
	background-color:#f2f2f2;
	padding:50px 0;
}
.service-level-m table thead th {
	padding: 20px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #ddd;
	font-size: 18px;
	font-weight: 500;
	color: #333;
}
.service-level-m table thead th:first-child{
	border:none;
	background-color:transparent;
	text-align:left;
	width:25%;
}
.service-level-m table thead th h5 {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 12px;
	color: #000;
}
.service-level-m table thead th p {
	font-size: 16px;
	margin-bottom: 12px;
	color: #000;
	font-weight:400;
}
.service-level-m table thead th a {
	font-size: 15px;
	color: #fff;
	font-weight: 500;
	padding: 8px 20px;
	text-align: center;
	border: 2px solid #077fc8;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
	transition: 0.3s all ease-out;
	background-color: #077fc8;
}
.service-level-m table thead th a:hover {
	color: #fff;
	background-color: #ff6a49;
	border-color: #ff6a49;
}
.service-level-m tbody tr td{
	padding:15px;
	color:#333;
	border:1px solid #ddd;
	font-size:15px;
	font-weight:400;
	text-align:center;
}
.service-level-m tbody tr td:first-child{
	text-align:left;
}
.service-level-m tbody tr td i.fa{
	color:#ff6a49;
	font-size:26px;
	text-align:center;
}

/*-----footer-----*/
.footer-top{
	background-color:#333;
	padding:50px 0;
}
.footer-content ul li{
	position:relative;
	list-style:none;
	display:block;
}
.footer-content ul li a{
	color:#fff;
	font-size:16px;
	text-transform:capitalize;
	text-decoration:none;
	transition:0.3s all ease-out;
	margin-bottom:8px;
	display:inline-block;
}
.footer-content ul li a::after {
	position: absolute;
	content: "\f101";
	top: -1px;
	left: -18px;
	font-family: fontawesome;
	font-size: 16px;
}
.footer-content ul li:hover a{
	color: #ff6a49;
}
.footer-content h5{
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
	font-weight:600;
	text-align:left;
}
.footer-bottom{
	background-color:#000;
	padding:10px 0;
	text-align:center;
}
.footer-bottom p{
	color:#fff;
	font-size:15px;
	font-weight:400;
	margin:0 auto;
	text-transform:capitalize;
}
.footer-links {
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin-top: 60px;
	padding: 30px 0;
}
.footer-m h5 {
	color:#fff;
	font-size:18px;
	text-transform:capitalize;
	font-weight:500;
	text-align:left;
	display:inline-block;
}
.footer-m ul {
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	margin-left: 20px;
}
.footer-m ul li{
	list-style:none;
	display:inline-block;
}
.footer-m ul li a {
	color: #fff;
	font-size: 22px;
	margin-right: 10px;
	transition: 0.3s all ease-out;
	opacity: 0.7;
}
.footer-m ul li a:hover {
	opacity:1;
}
.footer-m ul li a:hover i.fa.fa-linkedin-square {
	color: #077fc8;
	transform: scale(1.1);
}
.footer-m ul li a:hover i.fa.fa-facebook-square {
	color: #346da6;
	transform: scale(1.1);
}
.footer-m ul li a:hover i.fa.fa-twitter-square {
	color: #4186cd;
	transform: scale(1.1);
}
.footer-m ul li a:hover i.fa.fa-google-plus-square, .footer-m ul li a:hover i.fa.fa-youtube-square {
	color: #ca4537;
	transform: scale(1.1);
}
.footer-m ul li a:hover i.fa.fa-instagram {
	color:#125688;
	transform: scale(1.1);
}
.footer-m ul li a:hover i.fa.fa-android {
	color:#57ba63;
	transform: scale(1.1);
}



/*-----inner-banner-----*/
.inner-banner {
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	background-attachment: fixed;
	position: relative;
	padding: 140px 0 150px;
	text-align: center;
}
.inner-banner.designer-m {
background-position: center top;
}
.inner-banner.categories-m {
background-position: center top;
background-attachment:inherit;
height:438px;
}
.inner-banner.sales-m {
background-position: center;
}
.inner-banner.sales-m::after {
background-color: rgba(0, 0, 0, 0.5);
}
.inner-banner::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
}
.inner-banner-m{
	position:relative;
	z-index:1;
}
.inner-banner-m h1{
	color:#ff6a49;
	font-size:38px;
	text-transform:uppercase;
	font-weight:600;
	text-align:center;
	margin-bottom:20px;
}
.inner-banner-m p{
	color:#fff;
	font-size:18px;
	font-weight:500;
	text-align:center;
	margin-bottom:10px;
}
.inner-banner-m  a{
	display: inline-block;
	padding: 8px 30px;
	background-color:#077fc8;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	text-decoration: none;
	margin-left: 20px;
	transition: 0.3s all ease-out;
	margin-top:20px;

}
.inner-banner-m a:hover {
	background-color:#ff6a49;
	color: #fff;
}
.start-users{
	position:relative;
}
.start-user-m{
	position:absolute;
}
.start-user-m {
	position: absolute;
	top: -41px;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
}
.start-user-m ul{
	padding:0;
	margin:0 auto;
}
.start-user-m ul li{
	list-style:none;
	display:inline-block;
}
.start-user-m ul li a {
	background-color: #f2f2f2;
	padding: 18px 25px;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	border: 1px solid #ddd;
	margin-left: -10px;
}
.start-user-m ul li.active a {
	color:#ff6a49;
	background-color:#fff;
	border-bottom:0;
}
.start-user-m ul li:hover a {
	color:#ff6a49;
	background-color:#fff;
}
#start-menu {
	background-color: #fff;
	padding: 40px 0 30px;
}
.start-menu-m {
	padding: 0 0 10px;
	text-align: center;
	border-bottom: none;
	width: 40%;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
}
.start-menu-m ul{
	padding:0;
	margin:0 auto;
}
#page-top {
	padding: 50px 0 30px;
}
.start-menu-m ul li a {
	color: #333;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
}
.start-menu-m ul li:hover a {
background-color:#ff6a49;
color:#fff;
}
.start-menu-m ul li{
	list-style:none;
	display:inline-block;
}
.start-m.navbar-fixed {
	position: relative;
}
.start-m.navbar-fixed.top-nav-collapse{
	position:fixed;
	width:100%;
}
.work-different-img img {
	max-width: 100%;
}
#different-section {
	padding: 50px 0;
}
.different-start h5 {
	color: #077fc8;
	font-size: 25px;
	text-transform: capitalize;
}
.different-start p {
	color: #333;
	font-size: 16px;
	font-weight:400;
}
.different-start ul{
	padding-left:20px;
	margin:0 auto;
}
.different-start ul li{
	list-style:none;
	position:relative;
	font-size:15px;
	font-weight:400;
	color:#333;
	margin-bottom:8px;
}
.different-start ul li::after {
	position: absolute;
	content: "\f101";
	top: -1px;
	left: -15px;
	font-family: fontawesome;
}
.different-start-m{
	margin-bottom:60px;
}
a:focus{
outline:none;
}
.footer-m form {
	text-align:left;
	margin:0 auto;
}
.footer-m {
	text-align: center;
}
.footer-m select{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	width: 65%;
	font-size: 16px;
	color: #333;
	font-weight: 400;
	text-align: left;
	padding: 8px 15px 8px 35px;
	appearance: none;
	border: 1px solid #ddd;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0 auto;
	background-color: transparent;
	color: #fff;
}
.footer-m label{
	position:relative;
	display:block;
}
.footer-m label::after {
	position: absolute;
	content: "\f0ac";
	top: 6px;
	left: 12px;
	font-family: fontawesome;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}

/*-----faq------*/
#faq{
	background-color:#fff;
	padding:50px 0;
}
.faq-tabination ul {
	margin: 0 auto 30px;
	text-align: center;
	padding-bottom: 7px;
	width: 50%;
}
.faq-tabination ul li{
	list-style:none;
	display:inline-block;
	text-align:center;
	float:none;
}
.faq-tabination ul li a{
	color:#333;
	font-size:18px;
	font-weight:500;
	text-align:center;
	padding:0 20px;
	text-align:center;
}
.faq-tabination .nav-tabs > li.active > a, .faq-tabination .nav-tabs > li.active > a:focus, .faq-tabination .nav-tabs > li.active > a:hover {
	color: #077fc8;
	background-color: #fff;
	border: none;
}
.faq-tabination .nav-tabs > li:hover > a{
	background-color:transparent;
	color: #077fc8;
}
.faq-tabination {
	text-align: center;
	margin: 0 auto;
}
.faq-m h5{
	color:#077fc8;
	font-size:18px;
	font-weight:500;
	text-align:left;
}
.faq-m p{
	color:#333;
	font-size:15px;
	font-weight:400;
	text-align:justify;
}
.faq-m ul{
	padding:0;
	margin:0 auto;
	width:100%;
}
.faq-m ul li {
	list-style: none;
	display: inline-block;
	border-bottom: 1px solid #ddd;
	padding: 0 10px 10px;
	margin-bottom: 30px;
}

/*-------login-----*/
.login-header {
	padding: 12px 0;
	background-color: #333;
}
.login-header-m p{
	font-size:16px;
	color:#fff;
	font-weight:400;
	text-align:center;
	margin-bottom:0;
	margin-right:6px;
	margin-top: 9px;
}
.login-header-m a{
	color:#ff6a49;
}
.login-header .logo{
	text-align:left;
	padding:0 70px;
}
.login-header .logo h3{
	text-align:left;
}

#login{
	padding:70px 0;
	background-color:#f2f2f2;
}
.login-form h3{
	font-size:32px;
	font-weight:400;
	color:#ff6a49;
	text-transform:capitalize;
	text-align:center;
}
.login-form form {
	margin-top: 50px;
	text-align: center;
	margin: 50px auto 0;
	width: 40%;
}
.login-form form input{
	background-color:#fff;
	font-size:16px;
	font-weight:400;
	text-align:left;
	color:#333;
	border:2px solid #ddd;
	width:100%;
	padding:12px 20px
}
.login-form form input:hover{
	color:#077fc8;
	border-color:#077fc8;
}
.login-form form .form-group{
	margin-bottom:30px;
	text-align:left;
}
.login-form form input[type="checkbox"]{
	width:auto;
	text-align:left;
}
.login-form form label{
	font-weight:400;
	color:#333;
}
.link-btn{
	text-align:right;
}
.login-form button {
	background-color: #077fc8;
	padding: 10px 40px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	border-radius: 20px;
	transition: 0.3s all ease-out;
	border: 1px solid #6ec9ff;
	text-decoration: none;
	display: inline-block;
	margin-top: 0px;
	border:none;
}
.login-form button:hover {
	background-color: transparent;
	border-radius: 0;
	color: #ff6a49;
	border-color: #ff6a49;
	border: 1px solid #ff6a49;

}


/*----sign-up-----*/
.login-form p {
	color: #333;
	font-size: 16px;
	margin: 0 auto;
}
.login-form input[type="radio"]{
	width:auto;
}
.login-form span {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}

/*-----terms------*/
#terms-conditions {
	background-color: #f2f2f2;
	padding: 50px 0;
}
.terms-m h2 {
	color: #ff6a49;
	text-transform: uppercase;
}
.terms-m p{
	color:#333;
	margin-bottom:20px;
}
.terms-m h3{
	color:#077fc8;
}
.terms-m h5{
	color:#333;
	font-size:17px;
}
.terms-m ul li{
	color:#333;
	margin-bottom:20px;
}
.term {
	margin-bottom: 40px;
}


/*-----developer------*/
.developers-link {
	padding: 50px 0;
	background-color: #fff;
	text-align: center;
}
.developers-link ul li a {
	color: #333;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
.developers-link ul li {
	list-style: none;
	display: inline-block;
	width: 12%;
	vertical-align: middle;
	text-align: center;
	padding: 8px 9px;
	position: relative;
	transition: 0.4s all ease-in-out;
}
.developers-link ul li.active::after, .developers-link ul li:hover::after {
	position: absolute;
	content: "";
	bottom: -14px;
	left: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #ff6a49;
	height: 0;
	width: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
transition: 0.4s all ease-in-out;
}
.developers-link ul li:hover, .developers-link ul li.active {
	background-color: #ff6a49;
	color: #fff;
transition: 0.4s all ease-in-out;
}
.developers-link ul li:hover a, .developers-link ul li.active a{
color: #fff;
} 
.developers-link ul {
	padding: 0;
	margin: 0 auto;
	border-bottom: 1px dashed #ddd;
}
.professional-services{
	margin-top:50px;
}
.professional-services h2{
	font-size:34px;
	text-transform:capitalize;
	font-weight:600;
	text-align:center;
}
.professional-service-m{
	text-align:center;
}
.professional-service-m img{
	width:40%;
	margin-bottom:10px;
}
.professional-service-m p{
	font-size:15px;
	text-transform:capitalize;
	font-weight:500;
	color:#333;
}
.professional-service-m{
	margin-top:20px;
}
.developer-accordion{
	display:none;

}
.service-level-m table:hover {
	background-color: #fff;
	box-shadow: 0 5px 5px #ddd;
}



/*-----top-freelance-----*/
#top-freelance{
	background-color:#f2f2f2;
	padding:50px 0;
}
#top-freelance h2{
	font-weight:500;
	font-size:36px;
	color:#333;
	margin-top:0;
}
.post-job-btn a {
	display: inline-block;
	padding: 8px 30px;
	background-color: #ff6a49;
	font-size: 17px;
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	text-decoration: none;
	transition: 0.3s all ease-out;
}
.post-job-btn a:hover {
	background-color:#077fc8;
	color: #fff;
}
.post-job-btn{
	text-align:center;
	margin:0 auto;
}
.freelancer-search {
	background-color: #fff;
	padding: 40px 0px 0;
	width: 80%;
	margin: 40px auto 0;
	border: 2px solid #ddd;
	border-radius: 7px;
}
.top-free-m{
	width: 80%;
	margin:0 auto;
}
.freelancer-search form {
	padding: 10px 20px;
}
.freelancer-search input{
	background-color:#fff;
	padding:10px 20px;
	font-size:18px;
	color:#333;
	width:100%;
	font-weight:400;
	text-align:left;
	border:2px solid #ddd;
}
.freelancer-search button {
	background-color: #077fc8;
	padding: 10px 40px;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	transition: 0.3s all ease-out;
	border: 1px solid #6ec9ff;
	text-decoration: none;
	width: 100%;
}
.freelancer-search button:hover {
	background-color: transparent;
	border-radius: 0;
	color: #ff6a49;
	border-color: #ff6a49;
}
.freelancer-advanced-search {
	border-top: 2px solid #ddd;
	padding: 30px 40px;
}
.freelancer-search .form-group {
	margin-bottom: 40px;
}
.freelancer-advanced-search .dropdown-submenu {
    position: relative;
}

.freelancer-advanced-search .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.search-m {
	border: 2px solid #ff6a49;
	padding: 10px 20px;
}
.search-m a {
	display: block;
	color: #333;
	font-size: 16px;
	font-weight: 500;
	text-decoration:none;
}
.search-m > a > span {
	vertical-align: middle;
	margin-top: 10px;
	border-top: 6px solid;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
.search-m ul > li > a > span {
	border-top: 6px solid;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	vertical-align: middle;
	margin-top: -12px;
}
.search-m .dropdown-menu {
	width: 270px;
}
.clear-filters a {
	color: #077fc8;
	font-size: 16px;
	text-align: center;
	display: block;
	padding: 12px;
}
.clear-filters a i.fa{
	font-size:14px;
	font-weight:400;
	margin-right:10px;
}
.advance-search-m {
	padding: 0px 40px 30px;
	position: relative;
	border-bottom: 2px solid #ddd;
}
.advance-search-m a {
	display: inline-block;
	color: #333;
	font-size: 16px;
	font-weight: 500;
	color: #077fc8;
	padding:0 20px;
}
.advance-font-icon {
	position: absolute;
	content: "";
	top: 2px;
	left: 39px;
	font-size: 18px;
}
.advance-search-m a.collapsed .fa-angle-down {
	display:block;
}
.advance-search-m a.collapsed .fa-angle-up {
	display:none;
}
.advance-search-m a .fa-angle-down {
	display:none;
}
.advance-search-m a .fa-angle-up {
	display:block;
}
.search-text h5{
	font-size:16px;
	font-weight:600;
	color:#077fc8;
	text-transform:uppercase;
}
.search-group {
	overflow: hidden;
	transition:0.3s all ease-out;
	padding:5px;
}
.freelancer-search input[type="radio"]{
	width:10%;
	margin-left:5px;
}
.freelancer-search .search-group label {
	width: 88%;
	font-weight:400;
	color:#333;
}
.freelancer-search .search-group:hover{
	background-color:#ff6a49;
}
.freelancer-search .search-group:hover label{
	color:#fff;
}
.freelancer-search .search-select select {
	padding: 10px 20px;
	font-size: 18px;
	color: #333;
	width: 100%;
	font-weight: 400;
	text-align: left;
}
.search-margin {
	margin-bottom: 30px;
	overflow: hidden;
}
#search form button {
	padding: 8px 20px;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 500;
	text-align: center;
	width: auto;
	margin-right: 10px;
}
#search form a {
	display: inline-block;
	color: #333;
	font-size: 16px;
	font-weight: 500;
	color: #077fc8;
	padding:8px 20px;
}
.freelancer-detail {
	overflow: hidden;
	padding: 30px 40px;
	border-bottom: 1px solid #ddd;
}
.freelancer-img {
	height: 120px;
	width: 120px;
	border-radius:0px;
	overflow: hidden;
	margin-right: 10px;
	margin-top: 20px;
}
.freelancer-img img{
	width:100%;
}
.freelancer-content {
	width: 86%;
}
.freelancer-detail a {
	color:#333;
}
.freelancer-content h4{
	color:#ff6a49;
	font-size:20px;
}
.freelancer-content span{
	font-size:18px;
	font-weight:600;
	text-align:left;
	text-transform:capitalize;
	margin-bottom:10px;
	display:block;
}
.freelancer-content ul{
	padding:0;
}
.freelancer-content ul.freelance-skill li{
	list-style: none;
display: inline-block;
width: 20%;
margin-right: 30px;
font-weight:400;
}
.freelancer-content ul li{
	list-style:none;
	display:inline-block;
	margin-right:20px;
	font-weight:600;
}
.freelancer-content .other-info p{
	display:inline-block;
	text-transform:capitalize;
	margin-right:7px;
	font-size:16px;
}
.freelancer-content .other-info small{
	color: #077fc8;
	font-family:15px;
	font-weight:600;
}
.pagination{
	text-align:center;
	margin-top:30px;
	display:block;
	width:100%;
}
.pagination ul{
	padding:0;
	text-align:center;
	display:block;
}
.pagination ul li{
	list-style:none;
	display:inline-block;
	margin-right:6px;
}
.pagination ul li a{
	padding:5px 10px;
	font-size:15px;
	color:#333;
	font-weight:400;
	text-align:center;
	border:2px solid #ddd;
	display:inline-block;
	text-decoration:none;
}
.pagination ul li a:hover{
	border-color:#077fc8;
	color:#077fc8;
}



/*-----freelancer-profile--------*/
.freelancer-profile .freelancer-content {
	width: 84%;
}
#freelance-profile {
	background-color: #f2f2f2;
	padding: 50px 0;
}
.freelancer-profile {
	background-color: #fff;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	border-radius: 7px;
}
.freelancer-history{
	background-color: #fff;
	border:1px solid #ddd;
	padding:30px 40px;
border-radius: 7px;
}
.freelancer-history h4{
	color:#333;
	font-size:22px;
	font-weight:600;
	text-transform:capitalize;
}
.freelancer-work-m {
	border-bottom: 1px solid #ddd;
	padding: 30px 0px;
	overflow: hidden;
}
.freelance-work-content h5{
	color:#333;
	font-size:17px;
	font-weight:600;
	text-align:left;
}
.freelance-work-content{
	width:80%;
}
.freelance-work-content p{
	font-size:16px;
	color:#333;
	text-transform:capitalize;
}
.freelance-work-content small{
	font-size:15px;
	font-weight:600;
	font-style:italic;
}
.freelance-work-price{
	width:20%;
	text-align:right;
}
.freelance-work-price h5{
	color:#077fc8;
	font-family:16px;
	font-weight:600;
	margin-bottom:6px;
}
.freelance-work-price p{
	margin-bottom:6px;
	color:#333;
}
.freelance-work-content span i.fa{
	color:#077fc8;
}
.before-login p{
	color:#333;
	font-weight:400;
}
.before-login{
	text-align:center;
	margin-top:20px;
}
.freelancer-connect-form h6{
	color:#333p;
	font-weight:600;
	text-align:left;
	font-size:18px;
	color:#333;
}
.freelancer-connect-form input{
	background-color:#fff;
	border:2px solid #ddd;
	padding:10px 20px;
	font-size:16px;
	color:#333;
	font-weight:400;
	width:100%;
}
.freelancer-connect-form button{
	background-color: #077fc8;
	padding: 10px 40px;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	transition: 0.3s all ease-out;
	border: 1px solid #6ec9ff;
	text-decoration: none;
	width: 100%;
}
.other-information-detail ul{
	padding:0;
	margin:0 auto;
}
.other-information-detail ul li{
	list-style:none;
	margin-top:40px;
}
.other-information-detail ul li h5{
	color:#333;
	font-size:18px;
}
.other-information-detail ul li p{
	color:#333;
	margin-bottom:6px;
}
.other-information-detail ul li output {
	background-color: #fff;
	padding: 10px;
	border: 2px solid #ddd;
	word-wrap: break-word;
	border-radius: 7px;
}

/*-----choose-pro-----*/
.choose-pro-detail img{
	max-width:100%;
	width:35%;
	margin-bottom:10px;
}
.choose-pro-detail h6{
	color:#333;
	font-size:18px;
	font-weight:600;
	text-align:center;
	text-transform:uppercase;
}
.choose-pro-detail{
	text-align:center;
}
.choose-pro-detail p {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	width: 90%;
}
#choose-pro{
	background-color:#fff;
	padding:50px 0;
}


/*------other-banner-----*/
.other-banner {
	background-color: #077fc8;
	padding: 50px 0 50px;
	text-align: center;
}
.other-banner-m h1{
	font-size:40px;
	font-weight:600;
	text-align:center;
	color:#fff;
}
.other-banner-m p{
	font-size:20px;
	font-weight:400;
	text-align:center;
	color:#fff;
}
.about-content h4{
	font:34px;
	font-weight:700;
	text-align:left;
	color:#333;
}
.about-content p{
	font-size:16px;
	font-weight:400;
	text-align:left;
	color:#333;
	margin-bottom:30px;
}
.about-content ul {
	padding-left: 20px;
	margin: 0 auto;
	border: none;
}
.about-content ul li {
	list-style: none;
	position: relative;
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 30px;
	padding: 0;
}
.about-content h4{
	font-size:22px;
	font-weight:600;
	text-align:left;
	color:#333;
}
.about-content ul li::before {
	position: absolute;
	content: "\f101";
	top: -3px;
	left: -20px;
	font-family: fontawesome;
	font-size: 17px;
	color: #ff6a49;
}
.about-content ul li:hover{
background-color:transparent;
}
.about-content ul li::after{
display:none;
}
.about-content {
	padding: 40px 0 0;
}
.about-content h5{
	font-size:18px;
	text-align:left;
	color:#333;
	font-weight:500;
	color:#ff6a49;
}
.contact{
	padding-top:40px;
	text-align:left;
}
.contact-form label{
	font-weight:400;
	color:#333;
	text-align:left;
}
.contact-form input, .contact-form textarea{
	width:100%;
	background-color:#f2f2f2;
	padding:8px 15px;
	color:#333;
	font-weight:400;
	font-size:15px;
	border:1px solid #ddd;
}
.contact-form h3, .contact-right h3{
	font-weight:600;
	color:#333;
	font-size:22px;
	text-transform:capitalize;
	margin-bottom:30px;
}
.contact-form button{
	background-color: #077fc8;
	padding: 10px 40px;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	transition: 0.3s all ease-out;
	border: 1px solid #6ec9ff;
	text-decoration: none;
}
.contact-m h5{
	color:#333;
	font-size:18px;
	font-weight:600;
	text-align:left;
}
.contact-m p{
	color:#333;
	font-size:16px;
	font-weight:400;
	text-align:left;
}
.contact-m {
	margin-bottom:20px;
}


/*------our-team------*/
.our-team {
	padding-top: 50px;
}
.team-detail{
	background-color:#f2f2f2;
	padding:0px 0px 20px;
	border:1px solid #ddd;
	margin-bottom:40px;
}
.team-img img{
	max-width:100%;
	width:100%;
}
.team-content h6{
	font-size:22px;
	font-weight:600;
	color:#ff6a49;
}
.team-content span{
	font-size:15px;
	font-weight:600;
	color:#333;
	text-transform:uppercase;
}
.team-content p{
	font-size:16px;
	font-weight:400;
	color:#333;
}
.team-content{
	padding:10px 20px 0;
}
.contact-form textarea {
	height: 110px;
}

/*-----jobs-filter------*/
#jobs-filter {
	padding: 0 0 50px;
	background-color: #f2f2f2;
}
.job-filter-left {
	background-color: #f8f9fc;
	padding: 30px 20px;
	border-radius: 7px;
}
.job-filter-left h4{
	font-size:17px;
	color:#333;
	font-weight:600;
	text-align:left;
}
.job-filter-left h4 i.fa{
	margin-right:10px;
}
.category-accordion h3 {
	color: #077fc8;
	font-size: 15px;
	font-weight:600;
	cursor:pointer;

}
.category-accordion ul li {
	list-style:none;
	position:relative;
	line-height:32px;
	border-bottom:1px dashed #333;
}
.category-accordion{
	margin-bottom:30px;
}
.category-accordion ul li::after {
	position: absolute;
	content: "\f101";
	top: -1px;
	left: -14px;
	font-size: 15px;
	color: #333;
	font-family: fontawesome;
}
.category-accordion ul li  a{
	display:block;
	text-align:left;
	font:15px;
	font-weight:400;
	color:#333;
	text-decoration:none;
}
.category-accordion ul li  a span{
	float:right;
	color:#ff6a49;
}
.category-accordion ul{
	padding-left:15px;
}
.job-type {
	padding: 10px 0 0;
	border-top: 1px solid #ddd;
}
.job-type label{
	font-weight:400;
}
.job-check{
	margin-bottom:8px;
}
.job-check input[type="checkbox"]{
	margin-right:8px;
}
.job-short-detail {
	background-color: #fff;
	padding: 20px 0 0;
	border-radius: 7px;
}
.job-sort {
	padding: 20px 30px;
}
.job-sort small {
	display: inline-block;
	color: #333;
	font-size: 18px;
	font-weight: 600;
	margin-right:10px;
}
.job-sort .search-m {
	display: inline-block;
	width: 22%;
}
.job-short-content{
	padding:20px 30px;
	border-bottom:1px solid #ddd;
	transition:0.3s all ease-out;
}
.job-short-content:hover{
	background-color:#f8f9fc;
}
.job-short-content h5 a{
	font-size:18px;
	color:#333;
	font-weight:600;
	text-align:left;
	text-transform:capitalize;
}
.job-short-content ul{
	padding:0;
	margin:0 auto;
}
.job-short-content ul li{
	list-style:none;
	display:inline-block;
	margin-right:30px;
	color:#333;
}
.job-short-content ul li p{
	display:inline-block;
	margin-right:8px;
	font-family:16px;
	color:#333;
}
.job-short-content ul li span{
	display:inline-block;
	font-family:16px;
	color:#333;
}
.job-short-content p{
	color:#333;
	font-size:15px;
	font-weight:400;
}

/*-----job-detail-------*/
#job-description{
	background-color:#f2f2f2;
	padding:50px 0;
}
.job-describe h5 {
	color: #333;
	font-size: 22px;
	text-transform: capitalize;
	font-weight: 600;
	text-align: left;
}
.job-describe ul {
	padding: 0;
	margin: 20px auto 0;
}
.job-describe ul li{
	list-style:none;
	display:inline-block;
	margin-right:30px;
	color:#333;
}
.job-describe ul li p{
	display:inline-block;
	margin-right:8px;
	font-family:16px;
	color:#333;
	vertical-align:top;
}
.job-describe ul li span{
	display:inline-block;
	font-family:16px;
	color:#333;
	vertical-align:top;
}
.job-describe-m {
	background-color: #fff;
	padding: 30px 30px;
	border-radius: 7px;
}
.job-describe h6{
	color:#ff6a49;
	font-size:18px;
	text-transform:capitalize;
	font-weight:600;
	text-align:left;
}
.job-describe p{
	color:#333;
	font-size:15px;
	font-weight:400;
	text-align:left;
	margin-bottom:20px;
}
.job-activity{
	margin-top:30px;
	padding:20px 0;
	border-top:1px solid #ddd;
}
.job-activity ul li{
	display:block;
}
.job-activity ul li p{
	margin-bottom:8px;
}
.job-submit a.post-btn{
	display:block;
	padding: 8px 20px;
	background-color: #077fc8;
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	text-decoration: none;
	transition: 0.3s all ease-out;
}
.job-submit a.post-btn:hover {
	background-color: #ff6a49;
	color: #fff;
}
.job-submit a.submit-pro-btn{
	display: block;
	padding: 8px 20px;
	background-color: #ff6a49;
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	text-decoration: none;
	transition: 0.3s all ease-out;
	margin-top:10px;
}
.job-submit a.submit-pro-btn:hover {
	background-color: #077fc8;
	color: #fff;
}
.job-submit-m{
	text-align:center;
	margin:0 auto;
	background-color:#f8f9fc;
	padding:30px 20px;
border-radius:7px;
}
.job-client-info{
	margin-top:30px;
	text-align:left;
}
.job-client-info p i.fa {
	color: #077fc8;
	font-size:15px;
}
.job-client-info p small{
	display:inline-block;
	font-size:15px;
	color:#333;
}
.job-client-info ul li{
	list-style:none;
	color:#333;
	font-size:15px;
	font-weight:400;
	margin-bottom:10px;
}
.job-client-info ul li b{
	display:block;
}
.job-client-info ul{
	padding:0;
}
.job-client-info h6{
	color:#333;
	font-size:18px;
	text-transform:capitalize;
	font-weight:500;
}


/*-----career------*/
#career{
	padding:50px 0;
}
#career .choose-pro-detail img {
	width: 23%;
}
#career-job{
	background-color:#f2f2f2;
	padding:50px 0;
}
.career-job-description h3{
	font-size:20px;
	text-transform:capitalize;
	cursor:pointer;
	color:#077fc8;
	font-weight:600;
	position:relative;
	padding:0 0 0 30px;
}
.career-job-description h3::after{
	position:absolute;
	content:"\f18e";
	top:0;
	left:0;
	font-family:fontawesome;
	font-family:17px;
}
.career-job-description p, .career-job-description ul li{
	font-family:16px;
	color:#333;
	text-align:justify;
}
.career-job-description h4{
	color:#333;
}
.career-form{
	background-color:#fff;
	padding:20px 20px;
}
.career-form h4{
	color:#ff6a49;
	font-size:18px;
	text-transform:uppercase;
	font-weight:600;
}
.career-form label{
	color:#333;
	font-weight:400;
}
.career-form input, .career-form select, .career-form textarea{
	background-color:#f8f9fc;
	padding:8px 20px;
	color:#333;
	font-size:16px;
	width:100%;
	border:1px solid #ddd;
}
.career-form button{
	display: block;
	padding: 8px 20px;
	background-color: #077fc8;
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	text-decoration: none;
	transition: 0.3s all ease-out;
	margin-top:10px;
	border:none;
	width:100%
}
.career-form button:hover {
	background-color: #ff6a49;
	color: #fff;
}
.career-job-m{
	background-color:#f8f9fc;
	padding:20px;
}

/*------blog------*/
#blog{
	background-color:#f2f2f2;
	padding:50px 0;
}
.blog-detail{
	background-color:#fff;
	margin-bottom:30px;
}
.blog-img img{
	max-width:100%;
	width:100%;
}
.blog-content{
	background-color:#fff;
	padding:20px 20px;
}
.blog-content h5 a{
	font-size:22px;
	color:#077fc8;
	font-weight:600;
	text-decoration:none;
	text-align:left;
}
.blog-content h5{
	margin-top:0;
}
.blog-content ul{
	padding:0;
}
.blog-content ul li{
	list-style:none;
	display:inline-block;
	margin-right:20px;
	font-size:15px;
	color:#333;
}
.blog-content ul li a{
	color:#333;
	font-weight:400;
}
.blog-content ul li i.fa{
	margin-right:8px;
}
.blog-content p{
	color:#333;
	font-size:15px;
	font-weight:400;
}
.blog-content a{
	color:#ff6a49;
	font-size:16px;
	font-weight:600;
}
.blog-left-side{
	background-color:#f8f9fc;
	padding:20px;
}
.blog-search label{
	display:block;
	font-weight:400;
	position:relative;
	
}
.blog-search input{
	width:100%;
	background-color:#f2f2f2;
	padding:8px 20px;
	color:#333;
	font-size:15px;
	font-weight:400;
	text-align:left;
	border:1px solid #ddd;
}
.blog-search button {
	background-color: transparent;
	border: none;
	font-family: 16px;
	color: #333;
	font-weight: 400;
	position: absolute;
	top: 9px;
	right: 10px;
}
.blog-search{
	margin-bottom:30px;
}
.blog-category h5{
	font-size:18px;
	color:#333;
	font-weight:600;
	text-align:left;
}
.blog-category ul{
	padding:0;
	margin:0 auto;
}
.blog-category ul li{
	list-style:none;
	display:block;
}
.blog-category ul li a{
	color:#333;
	font-size:16px;
	text-decoration:none;
	font-weight:400;
	text-transform:capitalize;
	border-bottom:1px dashed #ddd;
	padding-bottom:5px;
	margin-bottom:5px;
	display:block;
}
.blog-category{
	margin-bottom:30px;
}
.blog-tag ul{
	padding:0;
}
.blog-tag ul li{
	list-style:none;
	display:inline-block;
	margin-right:8px;
}
.blog-tag ul li a{
	background-color:#f2f2f2;
	padding:8px;
	display:inline-block;
	border-radius:6px;
	color:#333;
	font-size:16px;
	text-decoration:none;
	font-weight:400;
	margin-bottom:20px;
}
.blog-tag h5{
	font-size:18px;
	color:#333;
	font-weight:600;
	text-align:left;
}



/*------dashboard------*/
.header-top .navbar-default {
	background-color: transparent;
	border: none;
margin-bottom:0;
}
.header-top .navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 16px;
	padding: 13px 18px;
	text-transform: uppercase;
}
.header-top .navbar-default .navbar-nav > li > a i.fa{
	font-size:18px;
}
.header-top .navbar-default .navbar-nav > li > form {
	margin: 0 20px;
}
.header-top .navbar-default .navbar-nav > li > a:hover{
	color:#ff6a49;
}
.header-top .navbar-default .navbar-nav > .open > a, .header-top .navbar-default .navbar-nav > .open > a:focus, .header-top .navbar-default .navbar-nav > .open > a:hover {
	color: #077fc8;
	background-color: transparent;
}
.header-after-login{
	display:table;
	width:100%;
}
.header-profile-img{
	height:60px;
	width:60px;
	margin-right:10px;
	overflow:hidden;
	display:block;
	border-radius:100%;
}
.header-profile-img img{
	width:100%;
}
.header-m.dashboard-m {
	margin-top: 10px;
}
.header-profile-content a{
	color: #fff;
	font-size: 16px;
	padding: 13px 10px;
	text-transform:capitalize;
}
.header-profile-content a:hover{
	color:#ff6a49;
}
.header-profile-content {
	width: 76%;
	margin-top: 23px;
	vertical-align: middle;
}
.header-profile-content .switch-btn p{
	display:inline-block;
	padding:6px 20px;
	font-size:15px;
	color:#fff;
	font-weight:500;
	text-align:center;
}
.header-profile-content .dropdown-menu {
	border:none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color:#ff6a49;
	padding:10px 0;
	top: 35px;
}
.header-profile-content .dropdown-menu::after {
	position: absolute;
	content: "";
	top: -10px;
	left: 20px;
	border-bottom: 10px solid #ff6a49;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
}
.header-profile-content .dropdown-menu a {
	padding: 10px 15px;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	display: block;
	border-bottom: 1px dashed #fff;
	position: relative;
	color: #fff;
	text-decoration: none;
}
.header-profile-content .dropdown-menu li:first-child a {
	border: none;
	padding: 5px 15px;
}
.header-profile-content .dropdown-menu li:first-child .switch-btn a {
	display: inline-block;
	color:#fff;
}
.switch-btn {
	padding: 0 10px;
	margin-bottom: 8px;
}
.header-profile-content .dropdown-menu li:first-child .switch-btn a.active {
	background-color:#077fc8;
}
.header-profile-content .dropdown-menu li:first-child .switch-btn a{
	background-color:#000;
}
.header-profile-content .dropdown-menu a:hover{
	background-color:transparent;
	color:#077fc8;
	
}
.header-profile-content .dropdown-menu li{
	display:block;
}
#dashboard-search h2 {
	color: #333;
	font-size: 35px;
	text-transform: capitalize;
	font-weight: 400;
	margin-top: 0;
}
#dashboard-search{
	background-color:#f2f2f2;
	padding:50px 0;
}
#dashboard-search form input {
	background-color: #fff;
	border: 2px solid #ff6a49;
	padding: 9px 10px;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	width: 39%;
}
#dashboard-search form button{
	background-color:#077fc8;
	border:2px solid #077fc8;
	padding:9px 10px;
	color:#fff;
	font-size:16px;
	font-weight:400;
	text-align:left;
	margin-left:-6px;
}
#dashboard-search form {
	margin-bottom: 60px;
}
.edit-popup {
	background-color:#ff6a49;
	height: 35px;
	width: 35px;
	border-radius: 100%;
	text-align: center;
	font-size: 16px;
	color: #333;
	font-weight: 400;
	padding: 7px;
}
.edit-popup a{
	color:#fff;
}
#dashboard-search .job-sort .search-m {
	width: 34%;
}
#edit-skill .modal-header {
	padding: 15px 15px 0;
	border-bottom: none;
}
#edit-skill .category-accordion {
	padding: 0px 20px;
}
#edit-skill .modal-dialog {
	width: 80%;
}
#dashboard-search .fa.fa-star {
	color: #077fc8;
}
#dashboard-search   .fa-check-circle{
	color: #077fc8;
}
.job-short-content{
	position:relative;
}
.heart-save-icon {
	position: absolute;
	right: 20px;
	top: 28px;
	font-size: 20px;
	font-weight: 500;
}
.heart-save-icon  a{
	color: #ff6a49;
}
.job-short-detail .tab-content h4 {
	color: #333;
	padding: 10px 30px 0;
	font-size: 22px;
}
.job-short-detail ul li a {
	color: #333;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 500;
	text-align: left;
	border: none;
}
.job-short-detail .nav-tabs > li.active > a, .job-short-detail .nav-tabs > li.active > a:focus, .job-short-detail .nav-tabs > li.active > a:hover {
	background-color: #ff6a49;
	cursor: default;
	border: 0;
	color: #fff;
	border-radius: 0;
}
.job-short-detail ul li:hover a{
	background-color: #ff6a49;
	cursor: default;
	border: 0;
	color: #fff;
	border-radius: 0;
}
.job-short-detail .nav-tabs {
	padding: 0 14px;
}
.dashboard-profile-progress{
	overflow:hidden;
}
.dashboard-profile-progress h4, .dashboard-proposals h4{
	color:#333;
	text-transform:capitalize;
}
.dashboard-progress-content{
	width:76%;
}
.dashboard-progress-content h6{
	font-size:16px;
	color:#333;
	font-weight:500;
}
.dashboard-profile-progress a {
	color: #077fc8;
	text-align: left;
	font-size: 16px;
	display: block;
	margin-top: 10px;
	clear: both;
	padding-top: 30px;
}
.dashboard-profile-progress .dashboard-progress-content .edit-popup a{
	color:#333;
	text-align:center;
	margin-top:0px;
	padding-top:0;
}
.dashboard-profile-progress .header-profile-img {
	margin-top: 10px;
}
.dashboard-proposals ul{
	padding:0;
	margin:0 auto;
}
.dashboard-proposals ul li{
	list-style:none;
	margin-bottom:10px;
}
.dashboard-proposals ul li a{
	color: #ff6a49;
	font-size:16px;
	font-weight:400;
	display:block;
}
.dashboard-proposals{
	margin-top:30px;
}
.available-tabination h6 {
	color: #ff6a49;
	font-size: 18px;
	text-transform: capitalize;
	margin-top: 20px;
}
.available-tabination{
	padding:0 30px;
}
.available-tabination ul li a{
	background-color:#077fc8;
	color:#fff;
	font-size:15px;
	text-transform:capitalize;
	font-weight:600;
	text-align:center;
	border-radius:0;
	border:none;
}
.available-tabination .tab-content{
	margin-top:20px;
	padding:0 10px;
}
.available-tabination label {
	font-weight: 400;
	color: #333;
}
.available-tabination .form-group{
	margin-bottom:5px;
}
.avail-change-btn {
	margin: 10px auto 40px;
}
.available-tabination .nav-tabs {
	margin-top: 20px;
}
.available-tabination .nav-tabs > li.active > a, .available-tabination .nav-tabs > li.active > a:focus, .available-tabination .nav-tabs > li.active > a:hover {
	color: #fff;
	cursor: default;
	background-color: #ff6a49;
	border:none;
}
.available-tabination ul li a:hover{
	background-color:#ff6a49;
	color:#fff;
}
.available-tabination input[type="text"] {
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	padding: 8px 10px;
	color: #333;
	font-size: 16px;
	width: 60%;
	margin-bottom: 20px;
}
.available-tabination  button{
	background-color:#ff6a49;
	color:#fff;
	font-size:15px;
	text-transform:capitalize;
	font-weight:600;
	text-align:center;
	border-radius:0;
	border:none;
	margin-right:20px;
	padding:10px 20px;
}
#avail {
	margin-bottom: 30px;
}
#change-available .modal-title {
	color: #333;
	text-transform: capitalize;
}
.dashboard-filter .fa.fa-star {
	color: #077fc8;
}
.dashboard-filter   .fa-check-circle{
	color: #077fc8;
}
.dashboard-filter .fa.fa-heart{
	color: #ff6a49;
}
#jobs-filter.dashboard-filter, #saved-jobs{
	padding:60px 0;
	background-color:#f2f2f2;
}
.featured-job span {
	background-color: #ff6a49;
	color: #fff;
	padding: 4px 18px;
	display: inline-block;
	margin-bottom: 10px;
}
.featured-section{
	background-color:#f8f9fc;
}
.job-short-detail h3{
	font-size:30px;
	font-weight:600;
	font-weight:500;
	color:#333;
	padding:0 20px;
}



/*------proposal-------*/
.proposal-m {
	background-color: #fff;
	border: 2px solid #ddd;
	padding: 20px 20px;
	margin-bottom: 40px;
	border-radius: 7px;
}
#dashboard-proposal h2{
	color:#000;
	font-weight:400;
	text-align:left;
}
.proposal-m ul{
	padding:0;
	margin:0 auto;
}
.proposal-m ul li {
	list-style: none;
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
}
.proposal-m ul li:last-child{
	border:none;
}
.proposal-m ul li p, .proposal-m ul li a{
	font-size:16px;
	color:#333;
	font-weight:400;
	text-align:left;
	margin-bottom:0;
}
.proposal-m ul li a{
	color: #077fc8;
}
.proposal-m ul li span{
	display:block;
	text-align:left;
}
.proposal-m h4{
	color:#ff6a49;
	font-weight:600;
}
#dashboard-proposal{
	background-color:#f2f2f2;
	padding:50px 0;
}
.proposal{
	width:80%;
	margin:0 auto;
}
.proposal ul.nav-tabs li a{
	color:#333;
	border:none;
	font-size:16px;
	font-weight:500;
	padding:12px 25px;
}
#dashboard-proposal .nav-tabs {
	margin-top: 40px;
}
.proposal .nav-tabs > li.active > a, .proposal .nav-tabs > li.active > a:focus, .proposal .nav-tabs > li.active > a:hover {
	color: #077fc8;
	cursor: default;
	background-color:transparent;
	border:none;
}
.proposal ul li a:hover{
	color: #077fc8;
	background-color:transparent;
}
.proposal-m .pagination ul li{
	border:none;
}


/*------tests------*/
#dashboard-test h2{
	color:#000;
	font-weight:400;
	text-align:left;
}
#dashboard-test {
	background-color:#f2f2f2;
	padding:50px 0;
}
.skill-test{
	background-color:#fff;
	border:2px solid #ddd;
	padding:30px 20px;
}
.skill-test-m{
	width:80%;
	margin:0 auto;
}
.skill-test form input, .skill-test form select{
	background-color:#f8f9fc;
	padding:8px 10px;
	border:2px solid #ff6a49;
	color:#333;
	font-size:16px;
	font-weight:400;
	text-align:left;
	width:100%;
}
.skill-test form   button{
	background-color:#077fc8;
	color:#fff;
	font-size:16px;
	text-transform:capitalize;
	font-weight:600;
	text-align:center;
	border-radius:0;
	border:none;
	margin-right:20px;
	padding:10px 30px;
}
.test-found{
	padding:20px 20px;
	border:2px solid #ddd;
	background-color:#f8f9fc;
}
.test-found h4{
	color:#333;
}
.test-found table th {
	color: #333;
	font-weight: 600;
	font-size: 16px;
	padding:16px 10px;
}
.test-found table td {
	color: #333;
	font-weight: 400;
	font-size: 15px;
	padding: 16px 10px;
}
.test-found table td a{
	color:#077fc8;
}
.test-found table tbody tr{
	border-top:1px solid #ddd;
}
.freelancer-skill-test{
	background-color:#f8f9fc;
	border:2px solid #ddd;
	padding:40px 20px;
}
.freelancer-skill-test p{
	font-size:16px;
	color:#333;
	font-weight:400;
	text-align:left;
	margin-bottom:30px;
}
.freelancer-skill-test   a{
	background-color:#077fc8;
	color:#fff;
	font-size:16px;
	text-transform:capitalize;
	font-weight:600;
	text-align:center;
	border-radius:0;
	border:none;
	padding:10px 30px;
}
.skill-test-start span{
	margin-bottom:20px;
	display:block;
}


/*--------dashboard-transaction--------*/
.transaction-heading{
	overflow:hidden;
}
#dashboard-transaction{
	padding:50px 0;
	background-color:#f2f2f2;
}
.transaction-heading h3{
	color:#333;
	margin-top:0;
}
.transaction-heading p{
	font-size:18px;
	color:#333;
}
.dashboard-transaction-m{
	width:80%;
	margin:0 auto;
}
.dashboard-transaction-date{
	background-color:#f8f9fc;
	padding:15px 20px;
	border-radius:6px;
	overflow:hidden;
	margin:30px auto 20px;
}
.transaction-date output {
	background-color: #fff;
	padding: 10px 20px;
	color: #333;
	font-size: 16px;
	display: inline-block;
}
.transaction-download-btn button{
	padding:8px 20px;
	color:#fff;
	font-size:16px;
	font-weight:400;
	border:none;
}
.transaction-search select{
	padding:8px 20px;
	color:#333;
	font-weight:400;
	text-align:left;
	font-size:16px;
	width:20%;
}
 .transaction-search input{
	 padding:6px 20px;
	color:#333;
	font-weight:400;
	text-align:left;
	font-size:16px;
	width:20%;
 }
 .transaction-search button{
	padding:6px 20px;
	color:#fff;
	font-size:16px;
	font-weight:400;
	border:none;
	background-color:#ff6a49;
	margin-left:20px;
}
.transaction-history-table{
	border:2px solid #ddd;
	background-color:#fff;
border-radius: 7px;
}
.transaction-history-table th{
	color:#077fc8;
	font-size:16px;
	color:#333;
	font-weight:400;
	padding:16px 10px;
	text-align:center;
}
.table-content{
	text-align:center;
	font-size:18px;
	color:#333;
	font-weight:600;
	padding:20px 10px 30px;
}
.transaction-total-amount{
	text-align:left;
	margin-top:20px;
	width:35%;
}
.transaction-total-amount h6{
	font-weight:600;
	color:#333;
	font-size:18px;
	margin-bottom:5px;
}
.transaction-total-amount span{
	font-weight:400;
	color:#333;
}
.transaction-total-amount table{
	background-color:#f8f9fc;
	margin-top:20px;
}
.transaction-total-amount table th, .transaction-total-amount table td{
	color:#333;
	padding:10px;
	font-size:16px;
}
.transaction-total-amount table tr{
	border-bottom:1px solid #ddd;
}
.timelog-note p{
	color:#333;
	font-size:15px;
}
.timelog-note{
	margin-top:20px;
}
.timelog-freelancer-name ul {
	padding: 0;
}
.timelog-freelancer-name {
	margin: 20px 0 30px;
	width: 42%;
	text-align: left;
}
.timelog-freelancer-name ul li{
	list-style:none;
	display:block;
	color:#333;
	font-size:16px;
	padding:6px 0;
	border-bottom:1px dashed #333;
}
.transaction-date label {
	margin: 0 20px;
}
.transaction-date select{
	padding:6px 20px;
	color:#333;
	font-weight:400;
	text-align:left;
	font-size:16px;
	text-transform:capitalize;
}
.transaction-date button{
	padding:6px 20px;
	color:#fff;
	font-size:16px;
	font-weight:400;
	border:none;
	background-color:#ff6a49;
	margin-left:20px;
}

/*------dashboard-stats------*/
#dashboard-stats{
	background-color:#f2f2f2;
	padding:50px 0;
}
.stats-m h2{
	color:#333;
	font-size:36px;
	font-weight:400;
}
.dashboard-stat-m{
	background-color:#fff;
	padding:30px 20px;
	border:2px solid #ddd;
	margin-top:20px;
}
.dashboard-stat-m h5 {
	color: #333;
	font-size: 18px;
	text-transform: capitalize;
	margin-top: 0;
}
.dashboard-stat-m ul li{
	list-style:none;
	color:#333;
	font-weight:400;
	font-size:16px;
}
.dashboard-stat-m ul {
	padding-left: 20px;
	margin: 20px auto 0;
}
.dashboard-stat-effective h5{
	color: #333;
	font-size: 18px;
	text-transform: capitalize;
	margin-top: 0;
}
.dashboard-stat-effective{
	background-color:#fff;
	padding:30px 20px;
	border:2px solid #ddd;
	margin-top:20px;
}
.dashboard-stat-effective ul li {
	list-style: none;
	color: #333;
	font-size: 15px;
	margin-bottom: 0;
}
.dashboard-stat-effective .stat-bar{
	margin-top:8px;
}



/*-----freelance-profile-edit-------*/
#freelance-profile-edit{
	padding:50px 0;
	background-color:#f2f2f2;
}
.freelancer-detail{
	position:relative;
}
.edit-profile-icon a {
	position: absolute;
	content: "";
	color: #ff6a49;
	font-size: 24px;
	right: 14px;
	top: 10px;
}
#profile-edit .modal-header {
	background-color: #f8f9fc;
}
.freelancer-profile-edit {
	padding: 20px 20px;
}
#profile-edit .modal-dialog {
	width: 65%;
}
.freelancer-profile-edit label{
	font-weight:400;
}
.freelancer-profile-edit input, .freelancer-profile-edit textarea, .freelancer-profile-edit select {
	background-color: #f2f2f2;
	padding: 10px 20px;
	border: 1px solid #ddd;
	color: #333;
	font-weight: 400;
	text-align: left;
	width: 100%;
}
.freelancer-profile-edit button{
	background-color:#ff6a49;
	padding: 8px 30px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	transition: 0.3s all ease-out;
	border:none;
	text-decoration: none;
	margin-right:20px;
}
.freelancer-portfolio-m {
	position:relative;
}
.freelancer-portfolio-img img{
	max-width:100%;
}
.freelancer-portfolio, .employment-history {
	position: relative;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-top: 0;
	padding: 20px;
}
.freelancer-portfolio h3, .employment-history h3{
	color: #333;
	font-size: 22px;
	font-weight: 600;
	text-transform: capitalize;
}
.freelancer-portfolio-m {
	position: relative;
	margin-top: 20px;
}
.portfolio-info a {
	color: #000;
	font-size: 17px;
	display: block;
	font-weight: 600;
}
.freelancer-portfolio-content{
	margin-top:10px;
	overflow:hidden;
}
.portfolio-info {
	width: 52%;
}
.portfolio-edit-delete a {
	color: #077fc8;
	font-size: 20px;
	margin-right: 7px;
	display: inline-block;
	margin-top: 5px;
}
.employment-history h4, .employment-history span, .employment-history p{
	color:#333;
}
.login-profile-settings a {
	background-color: #ff6a49;
	padding: 10px 30px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s all ease-out;
	border: none;
	text-decoration: none;
	display: block;
	text-align: center;
}
.login-profile-settings{
	margin-bottom:20px;
}
.other-information-detail ul li {
	position: relative;
}
#freelance-profile-edit .nav-tabs > li > a {
	border-radius: 0;
	color: #333;
	font-size: 16px;
	font-weight: 600;
	border:none;
}
#freelance-profile-edit .nav-tabs > li.active > a, #freelance-profile-edit .nav-tabs > li.active > a:focus, #freelance-profile-edit .nav-tabs > li.active > a:hover {
	color: #fff;
	cursor: default;
	background-color: #077fc8;
	border: none;
	border-bottom-color: transparent;
}
#freelance-profile-edit .nav-tabs > li:hover > a {
	color: #fff;
	background-color: #077fc8;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#test small {
	color: red;
	font-size: 15px;
	margin-left: 10px;
}

/*-----dashboard-job-------*/
#job-description .freelance-work-content i.fa{
	color:#077fc8;
}
#job-description .freelance-work-content p span{
	margin-left:10px;
}
#job-description .freelancer-history {
	margin-top: 40px;
}
.dashboard-other-open-job{
	margin-top:30px;
	background-color:#f8f9fc;
	padding:20px 20px;
	border:1px solid #ddd;
}
.dashboard-other-open-job h4 {
	color: #333;
	font-size: 22px;
	font-weight: 600;
	text-transform: capitalize;
}
.dashboard-other-open-job span {
	color:#333;
	margin-left:10px;
}
.extra-dashboard-content{
	margin-top:20px;
}
.extra-dashboard-content p{
	color:#333;
	margin-bottom:6px;
}
.dashboard-cover-letter h4{
	color: #333;
	font-size: 22px;
	font-weight: 600;
	text-transform: capitalize;
}
.dashboard-cover-letter p{
	color:#333;
}
.dashboard-cover-letter a{
	color: #ff6a49;
}
.dashboard-cover-letter {
	background-color:#fff;
	border:1px solid #ddd;
	padding:20px;
	margin-top:30px;
border-radius:7px;
}
.dashboard-cover-letter a {
	margin-left:10px;
}
.proposal-terms-edit h6{
	color:#333;
	font-weight:600;
	font-size:17px;
}
.proposal-terms-edit h4{
	color:#077fc8;
	font-weight:600;
}
.proposal-terms-edit ul{
	padding:0;
	margin:0 auto;
}
.proposal-terms-edit ul li{
	list-style:none;
	display:inline-block;
	width:49%;
	color:#333;
}
.proposal-terms-edit a.popup-btn{
	color:#fff;
	background-color: #ff6a49;
	font-family:16px;
	padding:8px 20px;
	display:block;
	font-weight:400;
	text-align:center;
	margin-top:20px;
}
.proposal-terms-edit a.withdraw-btn{
	color:#077fc8;
	margin-top:10px;
	display:block;
}


/*------submit-proposal------*/
#submit-proposal{
	background-color:#f2f2f2;
	padding:50px 0;
}
.submit-proposal-m h2{
	color:#333;
	font-weight:600;
}
.submit-proposal-error{
	background-color:#fff;
	border:2px solid #ff6a49;
	padding:30px 20px;
	border-radius:10px;
	margin-bottom:30px;
	margin-top:20px;
}
.submit-proposal-error h6{
	color:#333;
	font-weight:600;
	font-size:18px;
}
.submit-proposal-error p{
	color:#333;
	font-weight:400;
	font-size:16px;
}
.submit-proposal-error ul li{
	list-style:none;
	color:#F00;
	font-weight:400;
}
.submit-connects{
	background-color:#f8f9fc;
	border:2px solid #ddd;
	padding:20px 20px;
	margin-top:20px;
}
.submit-proposal-m{
	width:80%;
	margin:0 auto;
}
.submit-connects h4{
	color:#333;
	font-size:18px;
	font-weight:600;
	text-align:left;
}
.submit-connects p, .submit-connects span{
	color:#333;
	font-size:16px;
	font-weight:400;
	text-align:left;
}
.submit-connects label{
	color:#333;
	font-weight:400;
}
.submit-connects input, .submit-connects select, .submit-connects textarea{
	background-color:#fff;
	border:1px solid #ddd;
	padding:8px 20px;
	color:#333;
	font-size:16px;
	width:100%;
}
.submit-connects input[type="radio"]{
	width:auto;
}
.submit-connects button{
	color:#fff;
	background-color: #ff6a49;
	font-size:16px;
	padding:8px 20px;
	display:block;
	font-weight:400;
	text-align:center;
	margin-top:20px;
	border:none;
	display:inline-block;
	margin-right:10px;
}
.submit-connects a{
	color:#077fc8;
	margin-top:10px;
	display:inline-block;
}



/*------browse-freelancers-------*/
#browse-freelancers{
	padding:50px 0;
	background-color:#f2f2f2;
}
.browse-freelancer-m h2{
	color:#333;
	font-weight:600;
}
.browse-freelancer-cat h4{
	color:#077fc8;
	font-weight:600;
}
.browse-freelancer-cat ul{
	padding:0px;
}
.browse-freelancer-cat ul li{
	list-style:none;
	line-height:32px;
	border-bottom:1px dashed #333;
	position:relative;
	padding:0 20px;
}
.browse-freelancer-cat ul li a{
	font-size:16px;
	color:#333;
	display:block;
	text-decoration:none;
}
.browse-freelancer-cat{
	margin-bottom:30px;
}
.browse-freelancer-cat {
	margin-top:40px;
}
/*------export-data------*/
#export-data{
	background-color:#f2f2f2;
	padding:50px 0;
}
.export-data-m h3{
	font-size:20px;
	text-transform:capitalize;
	font-weight:600;
	text-align:left;
	color:#333;
}
.export-m label{
	font-weight:400;
	color:#333;
}
.export-m select{
	padding:8px 10px;
	font-size:16px;
	color:#333;
	font-weight:400;
	text-align:left;
	width:100%;
}
.export-m {
	background-color:#fff;
	padding:30px 20px;
	margin-top:20px;
}
.export-data-m{
	width:50%;
	margin:0 auto;
}
.export-m button {
	padding: 8px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	border: none;
	background-color:#077fc8;
}


/*------job-form-------*/
#job-form{
	background-color:#f2f2f2;
	padding:50px 0;
}
#job-form h2{
	font-size:32px;
	font-weight:600;
	color:#000;
	text-align:left;
}
.client-job-m{
	margin-top:20px;
	background-color:#fff;
	border:2px solid #ddd;
	overflow:hidden;
	padding:30px 20px;
}
.client-job-m .search-m{
	border:2px solid #ddd;
	padding:8px 20px;
	background-color:#f2f2f2;
}
.client-job-m label{
	font-weight:400;
	font-size:16px;
	margin-bottom:8px;
	color:#333;
}
.client-job-m input, .client-job-m textarea, .client-job-m select{
	background-color:#f2f2f2;
	padding:9px 20px;
	border:2px solid #ddd;
	width:100%;
	font-size:15px;
	color:#333;
	font-weight:400;
}
 .client-job-m select{
-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	-ms-appearance:none;
 }
.client-job-m textarea {
	height: 132px;
}
.client-job-m .form-group{
	margin-bottom:25px;
}
.client-job-m input[type="radio"]{
	width:auto;
}
.client-job-m span{
	font-weight:400;
	font-size:16px;
	margin-bottom:8px;
	color:#333;
	display:block;
}
.jobs-level {
	margin-right: 36px;
	text-align: center;
	display: inline-block;
	margin-top: 7px;
}
.client-job-find{
	margin-top:6px;
	display:block;
}
.qualify-btn a {
	display: inline-block;
	background-color: #077fc8;
	clear: both;
	color:#fff;
	font-size:16px;
	font-weight:400;
	padding:8px 20px;
	text-decoration:none;
	text-transform:uppercase;
	margin-top:10px;
}
.job-form-m button{
	background-color: #077fc8;
	clear: both;
	color:#fff;
	font-size:18px;
	font-weight:400;
	padding:8px 40px;
	text-decoration:none;
	text-transform:uppercase;
	margin-top:30px;
	border:none;
}



/*-----client-search-freelancer------*/
.client-search-freelancer .nav-tabs {
	border-bottom: 2px solid #ddd;
	padding:0 20px;
}
.client-search-freelancer .nav-tabs > li.active > a, .client-search-freelancer .nav-tabs > li.active > a:focus, .client-search-freelancer .nav-tabs > li.active > a:hover {
	color: #fff;
	background-color: #077fc8;
	border-bottom-color: transparent;
	border:none;
}
.client-search-freelancer .nav-tabs > li > a {
	font-size: 16px;
	text-transform: capitalize;
	border-radius: 0;
	color:#333;
	transition:0.3s all ease-out;
	padding:10px 30px;
	border:none;
}
.client-search-freelancer .nav-tabs > li > a:hover {
	background-color: transparent;
	border-radius: 0;
	color: #fff;
	background-color: #ff6a49;
}
.client-invite-freelancer a.invitation-free{
	background-color: #077fc8;
	padding: 8px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s all ease-out;
	border: 1px solid #6ec9ff;
	text-decoration: none;
	display:inline-block;
	margin-right:20px;
}
.client-invite-freelancer a.invitation-free:hover {
	background-color: transparent;
	border-radius: 0;
	color: #ff6a49;
	border-color: #ff6a49;
}
.client-invite-freelancer a.client-save-freelancer{
	background-color: #ff6a49;
	padding: 8px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s all ease-out;
	border: 1px solid #ff6a49;
	text-decoration: none;
	display:inline-block;
}
.client-invite-freelancer a.client-save-freelancer:hover {
	background-color: transparent;
	border-radius: 0;
	color: #077fc8;
	border-color: #077fc8;
}
.client-invite-freelancer {
	clear: both;
	padding-top: 15px;
}
.invitation-box-pop {
	padding: 20px;
}
.invitation-profile {
	overflow: hidden;
}
.invitation-profile-img {
	float: left;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 10px;
}
.invitation-profile-img img{
	max-width:100%;
}
.invitation-profile-content p{
	font-family:16px;
	color:#333;
	font-weight:600;
}
.invitation-profile-content {
	float: right;
	width: 87%;
	vertical-align: middle;
}
.invitation-box-pop label{
	color:#333;
	font-size:16px;
}
.invitation-box-pop output{
	background-color:#f2f2f2;
	border:2px solid #ddd;
	width:100%;
	font-size:15px;
	color:#333;
	font-weight:400;
	text-align:left;
	padding:20px;
}
.invitation-box-pop form{
	margin-top:20px;
}
.invitation-box-pop button{
	background-color: #ff6a49;
	padding: 8px 20px;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	transition: 0.3s all ease-out;
	border: 1px solid #ff6a49;
	text-decoration: none;
	margin-top:20px;
}
.client-profile-settings a{
	margin-bottom:20px;
}

/*------transaction-table--------*/
.transaction-history-table td {
	color: #333;
	font-size: 16px;
	text-align: center;
	padding:10px;
	border-top:1px solid #ddd;
}
.transaction-history-table td a{
	color: #ff6a49;
	display:block;
}
.transaction-heading h2{
	color:#000;
	margin-bottom:20px;
}
.freelancer-client-cover-letter {
	padding: 0 20px 20px;
	color: #333;
}
/*-----settings------*/
.client-dashboard-settings {
	background-color: #f2f2f2;
	padding:50px 0;
}
.client-dashboard-setting-m{
	width:70%;
	margin:0 auto;
}
.client-settings-password{
padding:20px;
	border:2px solid #ddd;
	background-color:#fff;
}
.client-settings-password h3{
	color: #077fc8;
}
.client-settings-password p{
	color:#333;
	font-weight:400;
}
.client-settings-password a{
	background-color: #ff6a49;
	padding: 8px 20px;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	transition: 0.3s all ease-out;
	border: 1px solid #ff6a49;
	text-decoration: none;
	margin-top:20px;
	display:inline-block;
}
.client-dashboard-setting-m .nav-tabs > li > a {
	border-radius: 0;
	color: #333;
}
.client-dashboard-setting-m .nav-tabs > li > a i.fa{
	margin-right:10px;
}
.client-dashboard-setting-m .nav-tabs > li.active > a, .client-dashboard-setting-m .nav-tabs > li.active > a:focus, .client-dashboard-setting-m .nav-tabs > li.active > a:hover {
	color: #fff;
	background-color: #077fc8;
}
.client-dashboard-setting-m .nav-tabs > li:hover > a {
	color: #fff;
	background-color: #077fc8;
}
.security-settings-m a{
	color:#fff;
	font-size:16px;
}
.security-settings-m {
	text-align:right;
}
.security-settings ul{
	padding:0;
	margin:0 auto;
}
.security-settings ul li{
	list-style:none;
	border-bottom:1px solid #ddd;
	padding:10px;
	margin-bottom:10px;
	color:#333;
}
.security-settings ul li p{
	margin-bottom:0;
}
.security-settings img {
	width: 100%;
}
.service-level-m table thead th p {
	font-size: 22px;
	margin-bottom: 12px;
	font-weight: 600;
	color: #ff6a49;
}
.service-level-m table thead th p span {
	font-size: 16px;
	font-weight: 400;
	color: #333;
display:block;
}
#email-error, #username-error, #password-error, #c_password-error {
	color: red;
	font-size: 13px;
}
.login-form form input.error {
	border-color: #fc4742;
}
.login-form form input[type=radio]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

.login-form form input[type=radio]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../images/check2.png') no-repeat 0 0;
  line-height  : 24px;
}

.login-form form input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
.login-form span.pass-text {
	font-size: 12px;
	text-transform: capitalize;
	color: #337ab7;
}
.skill-m.categories ul li {
	display: inline-block;
	width: 24%;
	vertical-align: top;
}
.skill-m.categories ul{
	margin-bottom:40px;
}
